html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  line-height: 1.2;
}

/* Message panel CSS */
.users-panel {
  height: 900px;
  overflow: scroll;
}

.messenger-container {
  padding-top: 20px;
}

.message-header {
  padding-bottom: 20px;
}

.user-list-group-item {
  cursor: pointer;
}
