<div class="container-fluid messenger-container" ng-controller="MessengerController as ctrl">
  <div class="row">
    <div class="col-md-2 users-panel">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." ng-model="ctrl.search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
      <div class="list-group">
        <a class="list-group-item user-list-group-item" ng-repeat="user in ctrl.users | filter: ctrl.userFilter" ng-click="ctrl.selectUser(user)">
          <img src="{{user.avatarUrl}}" height="30" width="30">
          <span class="list-group-item-text">{{user.fullName}}</span>
        </a>
      </div>
    </div>
    <div class="col-md-10 message-panel">
      <div class="container-fluid">
        <div ng-if="ctrl.currentUser" class="message-header">
          <img src="{{ctrl.currentUser.avatarUrl}}" height="30" width="30">
          <span class="list-group-item-text">{{ctrl.currentUser.fullName}}</span>
        </div>

        <textarea class="form-control" rows="10"></textarea>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Text" ng-model="ctrl.message">
          </div>
          <button type="submit" class="btn btn-default" ng-click="ctrl.sendMessage(ctrl.message)">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>